In [10]:
%matplotlib widget

import matplotlib.pyplot as plt
from matplotlib import cm

import pandas as pd

from mpl_toolkits.mplot3d import axes3d

import scipy as sp
import scipy.interpolate

import numpy as np

from mpl_toolkits.mplot3d.proj3d import proj_transform
from matplotlib.text import Annotation

In [12]:
CH4_conv = [13.07, 7.45, 13.29, 7.89, 9.07, 21.09, 19.46, 20.88, 16.82, 21.01, 26.47, 27.42, 25.56, 27.63, 24.32, 33.79, 35.63, 34.52, 33.61, 34.82] # CH4 Conversion
C2_sel = [0, 5, 10, 17, 20, 0, 5, 10, 17, 20 , 0, 5, 10, 17, 20, 0, 5, 10, 17, 20] # C2 Selectivity
Temp = [750, 750, 750, 750, 750, 800, 800, 800, 800, 800, 825, 825, 825, 825, 825, 850, 850, 850, 850, 850] # Temperature

In [14]:
df = pd.DataFrame(list(zip(CH4_conv, C2_sel, Temp)), columns = ['CH4_conv','C2_sel', 'Temp'])

In [16]:
x = df['CH4_conv']
y = df['C2_sel']
z = df['Temp']

In [17]:
func = sp.interpolate.interp2d(x, y, z, kind = 'linear')

In [18]:
x_new = np.linspace(min(CH4_conv), max(CH4_conv), 100)
x_new = np.around(x_new,2)

y_new = np.linspace(min(C2_sel), max(C2_sel), 100)
y_new = np.around(y_new,2)

z_new = func(x_new, y_new)
z_new = np.around(z_new,2)

In [19]:
df_temp = pd.DataFrame(z_new, columns = x_new, index = y_new)
df_temp

,7.45,7.73,8.02,8.30,8.59,8.87,9.16,9.44,9.73,10.01,...,33.07,33.35,33.64,33.92,34.21,34.49,34.78,35.06,35.35,35.63
0.00,669.10,673.06,677.16,681.12,685.21,689.17,693.27,697.23,701.33,705.29,...,875.14,865.37,855.24,845.46,835.33,825.55,815.43,805.65,795.52,785.74
0.20,672.34,676.17,680.13,683.96,687.92,691.75,695.71,699.54,703.51,707.33,...,873.57,864.25,854.59,845.26,835.61,826.28,816.62,807.30,797.64,788.31
0.40,675.57,679.27,683.10,686.80,690.63,694.33,698.16,701.85,705.68,709.38,...,872.00,863.13,853.94,845.07,835.88,827.01,817.82,808.95,799.76,790.88
0.61,678.97,682.53,686.22,689.78,693.47,697.03,700.72,704.28,707.97,711.53,...,870.35,861.96,853.26,844.86,836.17,827.77,819.07,810.68,801.98,793.58
0.81,682.21,685.64,689.19,692.62,696.18,699.61,703.16,706.59,710.15,713.58,...,868.78,860.84,852.61,844.67,836.44,828.50,820.27,812.32,804.10,796.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19.19,865.97,842.65,818.48,795.16,770.99,747.66,723.50,700.17,676.01,652.68,...,772.85,782.10,791.67,800.92,810.49,819.74,829.32,838.56,848.14,857.39
19.39,874.17,850.24,825.45,801.51,776.72,752.79,728.00,704.06,679.27,655.34,...,762.88,774.49,786.51,798.11,810.13,821.74,833.76,845.37,857.39,868.99
19.60,882.77,858.20,832.76,808.19,782.74,758.17,732.72,708.15,682.70,658.13,...,752.41,766.50,781.08,795.17,809.76,823.84,838.43,852.51,867.10,881.18
19.80,890.97,865.79,839.72,814.54,788.47,763.29,737.22,712.04,685.97,660.79,...,742.45,758.89,775.92,792.36,809.40,825.84,842.87,859.31,876.35,892.79
20.00,899.16,873.38,846.68,820.90,794.20,768.42,741.71,715.93,689.23,663.45,...,732.48,751.28,770.76,789.56,809.03,827.84,847.31,866.12,885.59,904.40

In [20]:
'''print(df_temp.loc[[54.11],[30.92]])
print(df_temp.loc[[58.81],[22.66]])
print(df_temp.loc[[58.98],[26.47]])
print(df_temp.loc[[57.97],[33.79]])'''

'print(df_temp.loc[[54.11],[30.92]])\nprint(df_temp.loc[[58.81],[22.66]])\nprint(df_temp.loc[[58.98],[26.47]])\nprint(df_temp.loc[[57.97],[33.79]])'

In [21]:
x_int = []
y_int = []
z_int = []

for i in (x_new):
    for j in (y_new):
        x_int.append(i)
        y_int.append(j)
        z_val = (df_temp.loc[[j],[i]])
        z_int.append(float(z_val.values[0]))

df2 = pd.DataFrame(list(zip(x_int, y_int, z_int)), columns = ['CH4_conv', 'C2_sel','Temp'])
df2.to_excel('df2.xlsx', index=False)
df2

      CH4_conv  C2_sel    Temp
0         7.45    0.00  669.10
1         7.45    0.20  672.34
2         7.45    0.40  675.57
3         7.45    0.61  678.97
4         7.45    0.81  682.21
...        ...     ...     ...
9995     35.63   19.19  857.39
9996     35.63   19.39  868.99
9997     35.63   19.60  881.18
9998     35.63   19.80  892.79
9999     35.63   20.00  904.40

[10000 rows x 3 columns]

In [22]:
x_values = df2['CH4_conv']
y_values = df2['C2_sel']
z_values = df2['Temp']

In [23]:
fig = plt.figure()
ax = fig.add_subplot(111, projection='3d')

surf = ax.plot_trisurf(x_values, y_values, z_values, cmap='jet', linewidth=0.1)
#fig.colorbar(surf, shrink=0.5, aspect=5)
ax.scatter(x, y, z, color = 'black', s = 24)

plt.title('Temperature vs. CH4 Conversion and C2 Selectivity')
ax.set_xlabel('CH4 Conversion %')
ax.set_ylabel('% CO2')
ax.set_zlabel('Temperature (\u00b0C)')

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Text(0.5, 0, 'Temperature (°C)')

In [24]:
fig = plt.figure()
ax = fig.add_subplot(111, projection='3d')

x = df['CH4_conv']
y = df['C2_sel']
z = df['Temp']

ax.plot3D(x, y, z, color = 'gray')
ax.scatter(x, y, z, color = 'red')

plt.title('Temperature vs. CH4 Conversion and C2 Selectivity')
ax.set_xlabel('CH4 Conversion %')
ax.set_ylabel('% CO2')
ax.set_zlabel('Temperature (\u00b0C)')

plt.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …